# Import all the libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# import all datasets

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
X_t = train_data.iloc[:,[2,4,5,6,7,9,11]].values
y_t = train_data.iloc[:,[1]].values

In [6]:
X_te = test_data.iloc[:,[1,3,4,5,6,8,10]].values

In [7]:
X_t

array([[3, 'male', 22.0, ..., 0, 7.25, 'S'],
       [1, 'female', 38.0, ..., 0, 71.2833, 'C'],
       [3, 'female', 26.0, ..., 0, 7.925, 'S'],
       ...,
       [3, 'female', nan, ..., 2, 23.45, 'S'],
       [1, 'male', 26.0, ..., 0, 30.0, 'C'],
       [3, 'male', 32.0, ..., 0, 7.75, 'Q']], dtype=object)

In [8]:
X_te

array([[3, 'male', 34.5, ..., 0, 7.8292, 'Q'],
       [3, 'female', 47.0, ..., 0, 7.0, 'S'],
       [2, 'male', 62.0, ..., 0, 9.6875, 'Q'],
       ...,
       [3, 'male', 38.5, ..., 0, 7.25, 'S'],
       [3, 'male', nan, ..., 0, 8.05, 'S'],
       [3, 'male', nan, ..., 1, 22.3583, 'C']], dtype=object)

# Filling missing values

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

In [10]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

In [11]:
imputer = imputer.fit(X_t[:,2:-1])
X_t[:,2:-1] = imputer.transform(X_t[:,2:-1])

In [12]:
imputer = imputer.fit(X_te[:,2:-1])
X_te[:,2:-1] = imputer.transform(X_te[:,2:-1])

# Encoding labels

In [13]:
from sklearn.compose import ColumnTransformer

In [14]:
ct = ColumnTransformer(
    [('encoder', OneHotEncoder(drop='first'),[0])], remainder='passthrough')

In [15]:
X_t = np.array(ct.fit_transform(X_t))

In [16]:
X_te = np.array(ct.fit_transform(X_te))

In [17]:
np.set_printoptions(threshold=np.inf)
# print(X_te)

In [18]:
ct = ColumnTransformer(
    [('encoder', OneHotEncoder(drop='first'),[2])], remainder='passthrough')
X_t = np.array(ct.fit_transform(X_t))
X_te = np.array(ct.fit_transform(X_te))

In [19]:
np.set_printoptions(threshold=np.inf)
# print(X_te)

In [20]:
ct = ColumnTransformer(
    [('encoder', OneHotEncoder(drop='first'),[7])], remainder='passthrough')
X_t = np.array(ct.fit_transform(X_t))
X_te = np.array(ct.fit_transform(X_te))

In [21]:
np.set_printoptions(threshold=np.inf)
# print(X_t)

In [22]:
X_t = np.delete(X_t, np.s_[2], axis=1)

In [23]:
np.set_printoptions(threshold=np.inf)
# print(X_te)

In [24]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X_t, y_t, test_size=0.20, random_state=0)

In [25]:
# np.delete(X_te, np.s_[2], axis=1)

# Standardization

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
st = StandardScaler()
X_t = st.fit_transform(X_t)

In [28]:
X_te = st.fit_transform(X_te)

# Fittting our model

In [29]:
from sklearn.svm import SVC

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
# model1 = RandomForestClassifier()
model1 = SVC()

In [33]:
model1.fit(X_t,np.ravel(y_t))

KNeighborsClassifier()

In [34]:
pred = model1.predict(X_te)

In [35]:
# from sklearn.metrics import classification_report
# from sklearn.metrics import confusion_matrix

In [36]:
# confusion_matrix(y_test,pred)

In [37]:
# classification_report(y_test,pred)

In [38]:
df = pd.DataFrame([test_data['PassengerId'],pred])

In [39]:
df.to_csv('knnpred.csv',header=False)